/* SVN.committedRevision=1653438 */ @font-face {
	font-family: 'm-icons';
	src: url('fonts/m-icons.eot?1653438?lwqvve');
	src: url('fonts/m-icons.eot?1653438?#iefixlwqvve') format('embedded-opentype'), url('fonts/m-icons.woff?1653438?lwqvve') format('woff'), url('fonts/m-icons.ttf?lwqvve') format('truetype'), url('fonts/m-icons.svg?lwqvve#m-icons') format('svg');
	font-weight: normal;
	font-style: normal
}
[class^="icon-"], [class*=" icon-"] {
font-family:'m-icons';
speak:none;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}
.icon-successful:before {
	content: "\e648"
}
.icon-truck:before {
	content: "\e642"
}
.icon-hands:before {
	content: "\e643"
}
.icon-error:before {
	content: "\e644"
}
.icon-camera:before {
	content: "\e645"
}
.icon-picture:before {
	content: "\e646"
}
.icon-file:before {
	content: "\e647"
}
.icon-idcard:before {
	content: "\e641"
}
.icon-keyboard:before {
	content: "\e600"
}
.icon-reduce:before {
	content: "\e601"
}
.icon-ge:before {
	content: "\e602"
}
.icon-add:before {
	content: "\e603"
}
.icon-alipay:before {
	content: "\e604"
}
.icon-attention:before {
	content: "\e605"
}
.icon-back:before {
	content: "\e606"
}
.icon-car:before {
	content: "\e607"
}
.icon-cart_small:before {
	content: "\e608"
}
.icon-cart:before {
	content: "\e609"
}
.icon-clear:before {
	content: "\e60a"
}
.icon-coupon:before {
	content: "\e60b"
}
.icon-delete:before {
	content: "\e60c"
}
.icon-dialog:before {
	content: "\e60d"
}
.icon-dingdan:before {
	content: "\e60e"
}
.icon-down_arrow_long:before {
	content: "\e60f"
}
.icon-down_arrow_small:before {
	content: "\e610"
}
.icon-down_arrow:before {
	content: "\e611"
}
.icon-edit:before {
	content: "\e612"
}
.icon-filter:before {
	content: "\e613"
}
.icon-gift:before {
	content: "\e614"
}
.icon-group:before {
	content: "\e615"
}
.icon-growup:before {
	content: "\e616"
}
.icon-hands2:before {
	content: "\e617"
}
.icon-heart:before {
	content: "\e618"
}
.icon-history:before {
	content: "\e619"
}
.icon-home:before {
	content: "\e61a"
}
.icon-id_2:before {
	content: "\e61b"
}
.icon-layer_close:before {
	content: "\e61c"
}
.icon-limit:before {
	content: "\e61d"
}
.icon-location:before {
	content: "\e61e"
}
.icon-merchant:before {
	content: "\e61f"
}
.icon-money:before {
	content: "\e620"
}
.icon-more:before {
	content: "\e621"
}
.icon-my:before {
	content: "\e622"
}
.icon-password:before {
	content: "\e623"
}
.icon-pencil:before {
	content: "\e624"
}
.icon-phone:before {
	content: "\e625"
}
.icon-qq:before {
	content: "\e626"
}
.icon-refresh:before {
	content: "\e627"
}
.icon-right_arrow:before {
	content: "\e628"
}
.icon-rss:before {
	content: "\e629"
}
.icon-sale:before {
	content: "\e62a"
}
.icon-search_small:before {
	content: "\e62b"
}
.icon-search:before {
	content: "\e62c"
}
.icon-service:before {
	content: "\e62d"
}
.icon-setting:before {
	content: "\e62e"
}
.icon-shake:before {
	content: "\e62f"
}
.icon-share:before {
	content: "\e630"
}
.icon-shop:before {
	content: "\e631"
}
.icon-smile:before {
	content: "\e632"
}
.icon-sort_2:before {
	content: "\e633"
}
.icon-sort_big_pic:before {
	content: "\e634"
}
.icon-sort:before {
	content: "\e635"
}
.icon-star_fat:before {
	content: "\e636"
}
.icon-star_fav:before {
	content: "\e637"
}
.icon-star:before {
	content: "\e638"
}
.icon-top:before {
	content: "\e639"
}
.icon-truck2:before {
	content: "\e63a"
}
.icon-up_arrow_long:before {
	content: "\e63b"
}
.icon-up_arrow_small:before {
	content: "\e63c"
}
.icon-vip:before {
	content: "\e63d"
}
.icon-warning:before {
	content: "\e63e"
}
.icon-weibo:before {
	content: "\e63f"
}
.icon-weixin:before {
	content: "\e640"
}
* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Arial, 'Microsoft YaHei'
}
img {
	vertical-align: top;
	border: 0
}
input, textarea {
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	-webkit-appearance: none
}
input:focus, select:focus, textarea:focus, button:focus {
	outline: 0
}
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"], textarea {
	-webkit-appearance: none;
	border: 1px solid;
	-webkit-border-radius: 0;
	border-radius: 0
}
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance:none
}
a {
	text-decoration: none;
	-webkit-touch-callout: none
}
em, i {
	font-style: normal
}
li {
	list-style: none
}
html, body {
	height: 100%
}
html {
	font-size: 10px
}
body {
	font-size: 1.2em;
	background-color: #f5f5f5
}
.touchweb-com_header {
	position: relative;
	z-index: 150;
	height: 44px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5
}
.touchweb-com_header.title {
	border-bottom: 1px solid #e5e5e5
}
.touchweb-com_header.header_flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	align-items: center
}
.touchweb-com_header.header_flex .left {
	position: static
}
.touchweb-com_header.header_flex .search_wrap {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.touchweb-com_header.header_flex .rightBox {
	position: static
}
.touchweb-com_header .left {
	position: absolute;
	left: 0;
	top: 7px;
	width: 23px;
	height: 30px;
	text-align: center;
	padding: 0 5px
}
.touchweb-com_header .left.icon-back {
	color: #ff3c3c;
	font-size: 2.3rem;
	line-height: 30px
}
.touchweb-com_header .left .icon-home {
	color: #ff3c3c;
	font-size: 2rem;
	line-height: 30px
}
.touchweb-com_header .left.leftSub {
	left: 40px
}
.touchweb-com_header .header_area {
	display: block;
	min-width: 2em;
	height: 44px;
	line-height: 44px;
	margin-left: 5px;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	text-align: center;
	-webkit-transition: all .3s linear;
	transition: all .3s linear
}
.touchweb-com_header h1 {
	width: 50%;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	font-size: 1.7rem;
	text-align: center;
	font-weight: normal;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.touchweb-com_header .rightBox {
	position: absolute;
	right: 0;
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	font-size: 0
}
.touchweb-com_header .right {
	display: block;
	position: relative;
	font-size: 1.4rem;
	text-align: center;
	vertical-align: middle;
	color: #ff3c3c
}
.touchweb-com_header .right .right_text:nth-last-of-type(1) {
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	font-size: 1.4rem;
	color: #979797
}
.touchweb-com_header .right .right_text.rbtn_box {
	height: 28px;
	line-height: 28px;
	margin-right: 5px;
	padding: 0 10px;
	border: 1px solid #ff3c3c;
	border-radius: 4px;
	background-color: #ff3c3c;
	color: #fff;
	font-size: 1.4rem
}
.touchweb-com_header .right .right_text.rbtn_box:active {
	background-color: #ff0909
}
.touchweb-com_header .right [class^="icon-"], .touchweb-com_header .right [class*=" icon-"] {
	display: block;
	min-width: 34px;
	line-height: 28px;
	margin-top: 2px;
	color: #ff3c3c;
	font-size: 2rem
}
.touchweb-com_header .right [class^="icon-"]:nth-last-of-type(1), .touchweb-com_header .right [class*=" icon-"]:nth-last-of-type(1) {
	margin-top: 0;
	padding: 0;
	font-size: 2.4rem;
	color: #ff3c3c
}
.touchweb-com_header .right .icon_text {
	display: block;
	line-height: 12px;
	margin-bottom: 2px;
	font-size: 1rem
}
.touchweb-com_header .right .icon_text:nth-of-type(1) {
	line-height: 44px;
	margin: 0;
	padding: 0 10px;
	font-size: 1.4rem;
	color: #979797
}
.touchweb-com_header .right .sumClass {
	min-width: 6px;
	height: 12px;
	line-height: 12px;
	border-radius: 12px;
	background-color: #ff3c3c;
	color: #fff;
	font-size: 1rem;
	position: absolute;
	z-index: 1;
	right: 2px;
	top: 2px;
	display: inline-block;
	padding: 0 3px
}
.touchweb-com_header .more_list {
	position: absolute;
	z-index: 950;
	right: 5px;
	top: 50px;
	width: 135px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(51,51,51,0.8);
	border-radius: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column
}
.touchweb-com_header .more_list.hide {
	display: none
}
.touchweb-com_header .more_list:after {
	content: '';
	position: absolute;
	right: 10px;
	top: -12px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: rgba(51,51,51,0.8)
}
.touchweb-com_header .more_list .moreA {
	position: relative;
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 17px;
	color: #fff;
	font-size: 1.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.touchweb-com_header .more_list .moreA:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	height: 1px;
	background-color: rgba(255,255,255,0.1)
}
.touchweb-com_header .more_list .moreA:active {
	background-color: rgba(0,0,0,0.6)
}
.touchweb-com_header .more_list .moreA:first-child {
	border-radius: 5px 5px 0 0
}
.touchweb-com_header .more_list .moreA:last-child {
	border-radius: 0 0 5px 5px
}
.touchweb-com_header .more_list .moreA:last-child:after {
	display: none
}
.touchweb-com_header .more_list .moreA .icon {
	display: inline-block;
	width: 20px;
	height: 44px;
	line-height: 44px;
	margin-right: 15px;
	text-align: center;
	font-size: 2.2rem;
	color: #fff;
	vertical-align: top
}
.touchweb-com_header.search_show .left {
	display: none
}
.touchweb-com_header.search_show .header_area {
	width: 0;
	min-width: 0;
	margin-left: 0
}
.touchweb-com_header.search_show .search_box {
	margin: 0 75px 0 33px
}
.touchweb-com_header.search_show .search_box .icon_back {
	display: block
}
.touchweb-com_header.search_show .search_txt {
	padding-right: 10px
}
.touchweb-com_header.search_show .btn_search {
	visibility: visible;
	opacity: 1
}
.touchweb-com_header.search_show .rightBox {
	display: none
}
.touchweb-com_header.search_show .touchweb_components-searchList {
	display: block;
	top: 45px
}
.touchweb-com_header.search_show+.search_fixed_mask {
	display: block
}
.touchweb-com_header .search_wrap {
	height: 30px;
	padding: 7px 0
}
.touchweb-com_header .search_box {
	position: relative;
	height: 30px;
	margin: 0 5px 0 10px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear
}
.touchweb-com_header .search_box .search_txt {
	width: 100%;
	height: 30px;
	padding: 5px 5px 5px 30px;
	border-radius: 14px;
	border: 1px solid #c6c6c6;
	background-color: #fff;
	color: #000;
	font-size: 1.2rem;
	line-height: 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.touchweb-com_header .search_box .search_txt::-webkit-search-cancel-button, .touchweb-com_header .search_box .search_txt::-webkit-search-results-button {
-webkit-appearance:none
}
.touchweb-com_header .search_box .icon_back {
	display: none;
	position: absolute;
	left: -33px;
	top: 0;
	width: 23px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	text-align: center;
	font-size: 2.3rem;
	color: #ff3c3c
}
.touchweb-com_header .search_box .icon-search, .touchweb-com_header .search_box .icon_delete {
	position: absolute;
	right: 5px;
	top: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center
}
.touchweb-com_header .search_box .icon-search {
	position: absolute;
	right: auto;
	left: 5px;
	width: 25px;
	color: #a6a6a6;
	font-size: 2rem
}
.touchweb-com_header .search_box .icon_delete {
	display: none;
	width: 22px;
	color: #ccc;
	font-size: 1.4rem
}
.touchweb-com_header .btn_search {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 10px;
	top: 7px;
	width: 55px;
	height: 30px;
	line-height: 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
	background-color: #ff3c3c;
	box-shadow: 0 0 1px rgba(0,0,0,0.1) inset;
	-webkit-transition: all .3s linear;
	transition: all .3s linear
}
.touchweb_components-searchList {
	display: none;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s linear;
	transition: all .3s linear
}
.touchweb_components-searchList .tags {
	padding-bottom: 10px;
	background-color: #f5f5f5
}
.touchweb_components-searchList .tags:after {
	content: "";
	display: table;
	clear: both
}
.touchweb_components-searchList .tags .item {
	float: left;
	width: 29.6875%;
	height: 30px;
	line-height: 28px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px 0 0 2.34375%;
	padding: 0 10px;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	background-color: #fff;
	color: #666;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.touchweb_components-searchList .tags .item:nth-child(3n) {
	margin-left: 3.125%
}
.touchweb_components-searchList ul {
	border-top: 1px solid #e5e5e5
}
.touchweb_components-searchList li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 44px;
	margin-left: 10px;
	border-bottom: 1px solid #e5e5e5
}
.touchweb_components-searchList li a {
	display: block;
	height: 44px;
	line-height: 44px;
	color: #666;
	font-size: 1.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.touchweb_components-searchList li a.link_text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.touchweb_components-searchList li a.link_text .text, .touchweb_components-searchList li a.link_text .text_category {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.touchweb_components-searchList li a.link_text .text_category {
	color: #999
}
.touchweb_components-searchList li a.link_text .text_category strong {
	color: #666
}
.touchweb_components-searchList li a.link_text .icon_arrow {
	display: block;
	width: 30px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 2rem;
	color: #999;
	vertical-align: top
}
.touchweb_components-searchList li a.link_tag {
	max-width: 20%;
	height: 30px;
	line-height: 30px;
	margin-right: 7.5px;
	padding: 0 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f5f5f5;
	color: #999
}
.touchweb_components-searchList li a.link_tag:last-child {
	margin-right: 10px
}
.touchweb_components-searchList li a .icon {
	display: block;
	width: 16px;
	height: 44px;
	line-height: 44px;
	margin-right: 10px;
	text-align: center;
	font-size: 1.6rem;
	color: #c6c6c6;
	vertical-align: top
}
.touchweb_components-searchList .clear_history {
	height: 44px;
	line-height: 44px;
	display: block;
	color: #999;
	font-size: 1.4rem;
	text-align: center
}
.touchweb_components-searchList.show {
	display: block;
	top: 44px
}
.touchweb_components-searchList.show ul {
	max-height: 2.64rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}
.search_fixed_mask {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 140;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4)
}
.global_banner_mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 910;
	background-color: rgba(0,0,0,0.7)
}
.global_banner_mask a {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 320px;
	height: 280px;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0)
}
.global_banner_mask img {
	width: 320px;
	height: 280px
}
.global_banner_mask-btn_close {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: -172px 0 0 128px;
	background-color: #ff3c25
}
.global_banner_mask-btn_close:before, .global_banner_mask-btn_close:after {
	content: '';
	position: absolute;
	left: 9px;
	top: 2px;
	width: 2px;
	height: 15px;
	background-color: #fff
}
.global_banner_mask-btn_close:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}
.global_banner_mask-btn_close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
@font-face {
	font-family: 'global-nav__iconfont';
	src: url('fonts/iconfont.eot?1653438');
	src: url('fonts/iconfont.eot?1653438?#iefix') format('embedded-opentype'), url('fonts/iconfont.woff?1653438') format('woff'), url('fonts/iconfont.ttf') format('truetype'), url('fonts/iconfont.svg#uxiconfont') format('svg')
}
.global-nav {
	position: fixed;
	left: -100%;
	bottom: 0;
	z-index: 1013;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.global-nav__nav-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 57px;
	border-top: 1px solid #e5e5e5;
	background-color: #fff
}
.global-nav__nav-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden
}
.global-nav__nav-link {
	position: relative;
	display: block;
	width: 62px;
	height: 50px;
	line-height: 24px;
	padding-top: 7px;
	text-align: center;
	white-space: nowrap;
	color: #999
}
.global-nav__nav-link:active {
	color: #ff7171
}
.global-nav__iconfont {
	font-family: "global-nav__iconfont";
	font-size: 24px;
	font-style: normal
}
.global-nav__nav-tit {
	display: block;
	font-size: 12px
}
.global-nav__nav-shop-cart-num, .global-nav__operate-cart-num {
	position: absolute;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	border-radius: 8px;
	background-color: #fd4609;
	color: #fff;
	font-size: 12px
}
.global-nav__nav-shop-cart-num {
	right: 7px;
	top: 4px
}
.global-nav__operate-wrap {
	position: relative;
	width: 62px;
	height: 58px;
	background-color: rgba(153,153,153,.75);
	right: -62px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.global-nav__operate-wrap:before, .global-nav__operate-wrap:after {
	content: '';
	position: absolute;
	top: 24px;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff
}
.global-nav__operate-wrap:before {
	display: none;
	right: 3px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg)
}
.global-nav__operate-wrap:after {
	right: 7px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.global-nav__yhd-logo {
	position: absolute;
	right: 20px;
	top: 15px;
	width: 32px;
	height: 29px;
	background-image: url(../images/fh.png);
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: width .5s ease;
	transition: width .5s ease
}
.global-nav__operate-cart-num {
	right: -8px;
	top: -8px;
	-webkit-transition: opacity .5s ease;
	transition: opacity .5s ease
}
.global-nav--current {
	left: 0
}
.global-nav--current .global-nav__operate-wrap {
	width: 20px;
	right: 0
}
.global-nav--current .global-nav__yhd-logo {
	width: 0
}
.global-nav--current .global-nav__operate-cart-num {
	opacity: 0
}
.global-nav--current .global-nav__operate-wrap:before {
	display: block
}
.global-nav--current .global-nav__operate-wrap:after {
	display: none
}
.back_top {
	position: fixed;
right:.1rem;
bottom:.6rem;
	z-index: 180;
width:.36rem;
height:.36rem;
line-height:.42rem;
	overflow: hidden;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	color: #fff;
font-size:.18rem;
	background-color: rgba(0,0,0,0.6)
}
.icon-direction:before {
	content: "\f101"
}
@charset "UTF-8";
.touchweb_com-recommendApps {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 999;
	background: rgba(0,0,0,0.7)
}
.touchweb_com-recommendApps .block {
	float: left;
	width: 91.25%;
	height: 100%;
	color: #fff
}
.touchweb_com-recommendApps .block .box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 32px;
	padding: 9px 0 9px 10px
}
.touchweb_com-recommendApps .block .box .logo {
	width: 32px;
	height: 32px;
	display: inline-block;
	padding: 4px;
	background: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	text-align: center
}
.touchweb_com-recommendApps .block .box .logo img {
	width: 100%
}
.touchweb_com-recommendApps .block .box .slogan {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	display: block;
	margin-left: 10px;
	line-height: 32px
}
.touchweb_com-recommendApps .block .box .btn {
	display: block;
	height: 32px;
	padding: 0 8px;
	background: #ff3c25;
	border-radius: 5px;
	text-align: center;
	line-height: 32px
}
.touchweb_com-recommendApps .icon-clear {
	display: inline-block;
	width: 8.75%;
	height: 100%;
	color: #fff;
	line-height: 50px;
	text-align: center
}
@font-face {
	font-family: "buyTogether";
	src: url("fonts/buyTogether.eot?1653438");
	src: url("fonts/buyTogether.eot?1653438?#iefix") format("embedded-opentype"), url("fonts/buyTogether.woff?1653438") format("woff"), url("fonts/buyTogether.ttf") format("truetype"), url("fonts/buyTogether.svg#buyTogether") format("svg")
}
.buyTogether_com-tab .icon {
	font-family: "buyTogether"
}
.buyTogether_com-tab {
	width: 100%;
	position: fixed;
	bottom: 0
}
.buyTogether_com-tab .settings_button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 48px;
	border-top: 1px solid #dcdcdc;
	background-color: #fff
}
.buyTogether_com-tab .settings_button>a {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 43px;
	padding-top: 5px;
	text-align: center
}
.buyTogether_com-tab .settings_button>a .icon {
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 2.2rem;
	color: #666
}
.buyTogether_com-tab .settings_button>a .text {
	display: block;
	line-height: 18px;
	font-size: 1rem;
	color: #999
}
.buyTogether_com-tab .settings_button>a.cur .icon {
	color: #ff5543
}
.buyTogether_com-tab .settings_button>a.cur .text {
	color: #ff5543
}
