ul.kg-photo-viewer-thumb-bar {
    list-style: none;
    padding: 0;
}
ul.kg-photo-viewer-thumb-bar li img {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #FCFCFC;
}
ul.kg-photo-viewer-thumb-bar li {
    float: left;
    border: 2px solid #F0F0F0;
    padding: 2px;
    margin-right: 6px;
    position: relative;
    background-color: #FFF;
    cursor: url(//img.alicdn.com/tps/i2/T1HqQGXgtcXXaSQP_X-16-16.png),url(//assets.alicdn.com/img/common/zoom_in.cur),auto;
    -webkit-transition: border-color .3s ease-out;
    -moz-transition: border-color .3s ease-out;
    -o-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
}

.tb-tbcr-mt {
	margin-top: 10px;
}
.tb-tbcr-mb {
	margin-bottom: 10px;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.tb-tbcr-date {
	color: #BBB
}
.tb-tbcr-num {
	font: 12px/1.5 tahoma, arial;
	color: #AAA
}
.tb-tbcr-bracketed {
	color: #AAA
}
.tb-tbcr-content {
	font-size: 14px;
	line-height: 1.4;
	color: #3F3F3F;
	word-wrap: break-word
}
.tb-tbcr-content em {
	background-color: #FF0
}
.tb-tbcr-content.heavier {
	font-size: 15px;
	font-weight: 700
}
.tb-tbcr-content.lighter {
	color: #BBB
}
.tb-tbcr-content.vicious, .tb-tbcr-content.reply {
	background-color: #F6F6F6
}
.tb-tbcr-content.vicious {
	color: #999;
	padding: 5px 10px
}
.tb-tbcr-content.reply {
*zoom:1;
	color: #BD7F00;
	padding: 10px
}
.tb-tbcr-content.reply:before, .tb-tbcr-content.reply:after {
	content: " ";
	display: table
}
.tb-tbcr-content.reply:after {
	clear: both
}
.tb-tbcr-content.reply img {
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px
}
.tb-tbcr-svc {
	margin: 10px 0
}
.tb-tbcr-svc p, .tb-tbcr-svc ul.svc-summary {
	margin-bottom: 5px
}
.tb-tbcr-svc ul.svc-summary {
*zoom:1
}
.tb-tbcr-svc ul.svc-summary:before, .tb-tbcr-svc ul.svc-summary:after {
	content: " ";
	display: table
}
.tb-tbcr-svc ul.svc-summary:after {
	clear: both
}
.tb-tbcr-svc ul.svc-summary li {
	float: left;
	margin-right: 15px;
	color: #9C9C9C;
	font-size: 12px;
	line-height: 20px
}
.tb-tbcr-svc ul.svc-summary li.title {
	font-size: 14px;
	color: #BBB;
	margin-right: 20px
}
.tb-tbcr-svc ul.svc-summary li.total {
	margin-right: 40px;
	color: #666
}
.tb-tbcr-svc p {
	font-size: 14px;
	line-height: 1.25;
	color: #333
}
.tb-tbcr-svc .what-it-is {
	font-size: 12px;
	color: #999
}
a.tb-tbcr-o2o {
	color: #999;
	text-decoration: none
}
a.tb-tbcr-o2o:hover {
	color: #09F
}
a.tb-tbcr-o2o:hover .kg-rate-icf {
	color: #F40
}
ul.tb-tbcr-spu {
*zoom:1;
	background: #FFFBF4;
	padding: 5px 10px;
	color: #AAA
}
ul.tb-tbcr-spu:before, ul.tb-tbcr-spu:after {
	content: " ";
	display: table
}
ul.tb-tbcr-spu:after {
	clear: both
}
ul.tb-tbcr-spu li {
	float: left;
	padding: 3px;
	margin-right: 15px;

}
.kg-rate-info-ops {
*zoom:1;
	font-size: 12px
}
.kg-rate-info-ops:before, .kg-rate-info-ops:after {
	content: " ";
	display: table
}
.kg-rate-info-ops:after {
	clear: both
}
.kg-rate-info-ops .info-part {
	float: left;
	color: #BBB;
	margin-right: 20px
}
.kg-rate-info-ops ul.ops {
	float: right;
	margin-right: -1px;
*zoom:1
}
.kg-rate-info-ops ul.ops:before, .kg-rate-info-ops ul.ops:after {
	content: " ";
	display: table
}
.kg-rate-info-ops ul.ops:after {
	clear: both
}
.kg-rate-info-ops ul.ops li {
	border-right: 1px solid #dfdfdf;
	float: left;
	padding: 0 9px
}
.kg-rate-info-ops ul.ops li .op-btn {
	color: #36c;
	cursor: pointer
}
.kg-rate-info-ops ul.ops li .op-btn.disabled {
	color: #bbb
}
@font-face {
	font-family: kg-rate-iconfont;
	src: url(//at.alicdn.com/t/font_1436424789_0891216.eot);
	src: url(//at.alicdn.com/t/font_1436424789_0891216.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_1436424789_0891216.woff) format("woff"), url(//at.alicdn.com/t/font_1436424789_0891216.ttf) format("truetype"), url(//at.alicdn.com/t/font_1436424789_0891216.svg#iconfont) format("svg")
}
.kg-rate-icf, .kg-rate-ic {
	font-family: kg-rate-iconfont;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-text-stroke-width: .2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.kg-rate-icf.colored, .kg-rate-ic.colored {
	color: #AAA
}
.kg-rate-ic.ic-shop:before {
	content: "\e600"
}
.kg-rate-ic.ic-shop-offline:before {
	content: "\e601"
}
.kg-rate-ic.ic-position:before {
	content: "\e602"
}
.kg-rate-ic.ic-arrow-left:before {
	content: "\e603"
}
.kg-rate-ic.ic-arrow-right:before {
	content: "\e604"
}
.kg-rate-ic.ic-arrow-down:before {
	content: "\e609"
}
.kg-rate-ic.ic-arrow-up:before {
	content: "\e60a"
}
.kg-rate-ic.ic-triangle-up:before {
	content: "\e605"
}
.kg-rate-ic.ic-triangle-down:before {
	content: "\e606"
}
.kg-rate-ic.ic-question-cn:before {
	content: "\e607"
}
.kg-rate-ic.ic-answer-cn:before {
	content: "\e608"
}
.kg-rate-ic.ic-help:before {
	content: "\e60b"
}
.kg-rate-ic.ic-info:before {
	content: "\e60c"
}
.kg-rate-ic.ic-x:before {
	content: "\e60d"
}
.kg-rate-ic.ic-x-alt:before {
	content: "\e60e"
}
.kg-rate-ico, .kg-rate-ico-bg {
	background: transparent url(//img.alicdn.com/tps/TB1WgeNIVXXXXb5XXXXXXXXXXXX.png) no-repeat 1000px 1000px;
*background-image:url(//img.alicdn.com/tps/TB1m8eIIVXXXXXKXpXXXXXXXXXX.png)
}
.kg-rate-ico.ico-bad, .kg-rate-ico-bg.ico-bad {
	background-position: 0 0
}
.kg-rate-ico.ico-neutral, .kg-rate-ico-bg.ico-neutral {
	background-position: 0 -50px
}
.kg-rate-ico.ico-good, .kg-rate-ico-bg.ico-good {
	background-position: 0 -100px
}
.kg-rate-ico.ico-shop, .kg-rate-ico-bg.ico-shop {
	background-position: 0 -150px
}
.kg-rate-ico.ico-seller, .kg-rate-ico-bg.ico-seller {
	background-position: 0 -200px
}
.kg-rate-ico.ico-buyer, .kg-rate-ico-bg.ico-buyer {
	background-position: 0 -250px
}
.kg-rate-ico.ico-bubble, .kg-rate-ico-bg.ico-bubble {
	background-position: 0 -300px
}
.kg-rate-ico.ico-feedback, .kg-rate-ico-bg.ico-feedback {
	background-position: 0 -350px
}
.kg-rate-ico.ico-img, .kg-rate-ico-bg.ico-img {
	background-position: 0 -400px
}
.kg-rate-ico.ico-img.status-disabled, .kg-rate-ico-bg.ico-img.status-disabled, .uploader-button-disabled .kg-rate-ico.ico-img, .uploader-button-disabled .kg-rate-ico-bg.ico-img {
	background-position: 0 -450px
}
.kg-rate-ico.ico-gift, .kg-rate-ico-bg.ico-gift {
	background-position: 0 -500px
}
.kg-rate-ico.ico-info, .kg-rate-ico-bg.ico-info {
	background-position: 0 -550px
}
.kg-rate-ico.ico-help, .kg-rate-ico-bg.ico-help {
	background-position: 0 -600px
}
.kg-rate-ico.ico-date, .kg-rate-ico-bg.ico-date {
	background-position: 0 -650px
}
.kg-rate-ico.ico-tip, .kg-rate-ico-bg.ico-tip {
	background-position: 0 -700px
}
.kg-rate-ico.ico-attention, .kg-rate-ico-bg.ico-attention {
	background-position: 0 -750px
}
.kg-rate-ico.ico-sort-by-default, .kg-rate-ico-bg.ico-sort-by-default {
	background-position: 0 -800px
}
.kg-rate-ico.ico-sort-by-time, .kg-rate-ico-bg.ico-sort-by-time {
	background-position: 0 -850px
}
.kg-rate-ico.ico-verified, .kg-rate-ico-bg.ico-verified {
	background-position: 0 -900px
}
.kg-rate-ico {
	width: 20px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden
}
.kg-rate-ico-bg {
	line-height: 18px;
	padding-left: 24px
}
a.kg-rate-ico-bg, span.kg-rate-ico-bg {
	display: inline-block
}
.kg-rate-member-badge {
	background: url(//img.alicdn.com/tps/TB1fJM1IXXXXXXRaXXXXXXXXXXX.png) no-repeat 1000px 1000px;
	width: 38px;
	height: 14px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle
}
.kg-rate-member-badge.vip-0 {
	background-position: 0 0
}
.kg-rate-member-badge.vip-1 {
	background-position: 0 -15px
}
.kg-rate-member-badge.vip-2 {
	background-position: 0 -30px
}
.kg-rate-member-badge.vip-3 {
	background-position: 0 -45px
}
.kg-rate-member-badge.vip-4 {
	background-position: 0 -60px
}
.kg-rate-member-badge.vip-5 {
	background-position: 0 -75px
}
.kg-rate-member-badge.vip-6 {
	background-position: 0 -90px
}
.kg-rate-alert {
	color: #999;
	zoom: 1
}
p.kg-rate-alert, div.kg-rate-alert {
	border: 1px solid #EEE;
	padding: 4px 8px;
	position: relative
}
p.kg-rate-alert h4, div.kg-rate-alert h4 {
	color: #666;
	font-size: 1.34em;
	font-weight: 600;
	margin-bottom: .25em
}
p.kg-rate-alert .alert-x, div.kg-rate-alert .alert-x {
	position: absolute;
	top: 4px;
	right: 8px;
	color: #FFF;
	cursor: pointer;
	height: 16px;
	width: 16px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	background-color: #CCC
}
p.kg-rate-alert .alert-x:hover, div.kg-rate-alert .alert-x:hover {
	background-color: #AAA
}
.kg-rate-alert.type-empty {
	border: none;
	padding: 0
}
.kg-rate-alert.type-empty h4 {
	color: #f60
}
span.kg-rate-alert.type-hint {
	color: #aaa
}
p.kg-rate-alert.type-hint, div.kg-rate-alert.type-hint {
	background-color: #fbfbfb;
	border-color: #d9d9d9
}
p.kg-rate-alert.type-hint .alert-x, div.kg-rate-alert.type-hint .alert-x {
	background-color: #d9d9d9
}
p.kg-rate-alert.type-hint .alert-x:hover, div.kg-rate-alert.type-hint .alert-x:hover {
	background-color: #ccc
}
span.kg-rate-alert.type-info {
	color: #39c
}
p.kg-rate-alert.type-info, div.kg-rate-alert.type-info {
	background-color: #f5fafc;
	border-color: #a3d1e8
}
p.kg-rate-alert.type-info .alert-x, div.kg-rate-alert.type-info .alert-x {
	background-color: #a3d1e8
}
p.kg-rate-alert.type-info .alert-x:hover, div.kg-rate-alert.type-info .alert-x:hover {
	background-color: #8fc7e3
}
span.kg-rate-alert.type-attention {
	color: #fc3
}
p.kg-rate-alert.type-attention, div.kg-rate-alert.type-attention {
	background-color: #ffe;
	border-color: #fc7;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
	margin: 10px 5px 5px 5px;
}
p.kg-rate-alert.type-attention .alert-x, div.kg-rate-alert.type-attention .alert-x {
	background-color: #fc7
}
p.kg-rate-alert.type-attention .alert-x:hover, div.kg-rate-alert.type-attention .alert-x:hover {
	background-color: #ffc25e
}
span.kg-rate-alert.type-warn {
	color: #f90
}
p.kg-rate-alert.type-warn, div.kg-rate-alert.type-warn {
	background-color: #fffaf2;
	border-color: #ffd18c
}
p.kg-rate-alert.type-warn .alert-x, div.kg-rate-alert.type-warn .alert-x {
	background-color: #ffd18c
}
p.kg-rate-alert.type-warn .alert-x:hover, div.kg-rate-alert.type-warn .alert-x:hover {
	background-color: #ffc773
}
span.kg-rate-alert.type-success {
	color: #3c3
}
p.kg-rate-alert.type-success, div.kg-rate-alert.type-success {
	background-color: #f5fcf5;
	border-color: #a3e8a3
}
p.kg-rate-alert.type-success .alert-x, div.kg-rate-alert.type-success .alert-x {
	background-color: #a3e8a3
}
p.kg-rate-alert.type-success .alert-x:hover, div.kg-rate-alert.type-success .alert-x:hover {
	background-color: #8fe38f
}
span.kg-rate-alert.type-error {
	color: #f33
}
p.kg-rate-alert.type-error, div.kg-rate-alert.type-error {
	background-color: #fff5f5;
	border-color: #ffa3a3
}
p.kg-rate-alert.type-error .alert-x, div.kg-rate-alert.type-error .alert-x {
	background-color: #ffa3a3
}
p.kg-rate-alert.type-error .alert-x:hover, div.kg-rate-alert.type-error .alert-x:hover {
	background-color: #ff8a8a
}
span.kg-rate-alert.type-fail {
	color: #c00
}
p.kg-rate-alert.type-fail, div.kg-rate-alert.type-fail {
	background-color: #fcf2f2;
	border-color: #e88c8c
}
p.kg-rate-alert.type-fail .alert-x, div.kg-rate-alert.type-fail .alert-x {
	background-color: #e88c8c
}
p.kg-rate-alert.type-fail .alert-x:hover, div.kg-rate-alert.type-fail .alert-x:hover {
	background-color: #e47777
}
.kg-rate-alert.size-l {
	padding: 25px 25px 25px 60px
}
@-webkit-keyframes tbRateAniSwing {
20% {
-webkit-transform:rotate3d(0, 0, 1, 9deg);
transform:rotate3d(0, 0, 1, 15deg)
}
40% {
-webkit-transform:rotate3d(0, 0, 1, -6deg);
transform:rotate3d(0, 0, 1, -10deg)
}
60% {
-webkit-transform:rotate3d(0, 0, 1, 3deg);
transform:rotate3d(0, 0, 1, 5deg)
}
80% {
-webkit-transform:rotate3d(0, 0, 1, -3deg);
transform:rotate3d(0, 0, 1, -5deg)
}
100% {
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
@keyframes tbRateAniSwing {
20% {
-webkit-transform:rotate3d(0, 0, 1, 9deg);
transform:rotate3d(0, 0, 1, 15deg)
}
40% {
-webkit-transform:rotate3d(0, 0, 1, -6deg);
transform:rotate3d(0, 0, 1, -10deg)
}
60% {
-webkit-transform:rotate3d(0, 0, 1, 3deg);
transform:rotate3d(0, 0, 1, 5deg)
}
80% {
-webkit-transform:rotate3d(0, 0, 1, -3deg);
transform:rotate3d(0, 0, 1, -5deg)
}
100% {
-webkit-transform:rotate3d(0, 0, 1, 0deg);
transform:rotate3d(0, 0, 1, 0deg)
}
}
.kg-rate-nav-tabs {
*zoom:1;
	border-bottom: 2px solid #e5e5e5
}
.kg-rate-nav-tabs:before, .kg-rate-nav-tabs:after {
	content: " ";
	display: table
}
.kg-rate-nav-tabs:after {
	clear: both
}
.kg-rate-nav-tabs li {
	display: inline;
	float: left;
	min-width: 4em;
	position: relative;
	padding: 0 15px;
	margin-right: 5px;
	line-height: 2;
	text-align: center;
	color: #333;
	cursor: pointer;
	-moz-transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s
}
.kg-rate-nav-tabs li strong {
	color: red;
	font-family: Tahoma, sans-serif
}
.kg-rate-nav-tabs li a {
	display: block;
	text-decoration: none;
	margin: 0 -15px;
	padding: 0 15px;
	color: #333
}
.kg-rate-nav-tabs li a:hover {
	text-decoration: none
}
.kg-rate-nav-tabs li .new {
	position: absolute;
	right: -5px;
	top: -5px;
	display: inline-block;
	line-height: 17px;
	padding: 0 2px;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
	background-color: #f60;
	color: #FFF;
	z-index: 5
}
.kg-rate-nav-tabs li .new-inner {
	background: url(//img.alicdn.com/tps/i3/TB1bcrBHXXXXXX8XXXXt5uDFpXX-21-12.png) no-repeat 0 6px;
	width: 21px;
	margin-left: 3px;
	display: inline-block
}
.kg-rate-nav-tabs li .nav-x {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 20px;
	height: 20px;
	z-index: 5;
	background: url(//img.alicdn.com/tps/i1/T1EYTcXhNsXXcu5FDa-20-20.png) 0 0 no-repeat;
	cursor: pointer;
	text-indent: -9999px
}
.kg-rate-nav-tabs li:hover .new-inner.ani {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: tbRateAniSwing;
	animation-name: tbRateAniSwing
}
.kg-rate-nav-tabs li.active {
	cursor: default
}
.kg-rate-nav-tabs li.active:hover .new-inner.ani {
	-webkit-animation-name: none;
	animation-name: none
}
.kg-rate-nav-tabs.level-1 {
	padding: 0 16px;
	margin: 0 0 20px 0
}
.kg-rate-nav-tabs.level-1 li {
	font-family: "Microsoft YaHei", Arial, sans-serif;
	font-size: 16px;
	line-height: 32px;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: -2px
}
.kg-rate-nav-tabs.level-1 li:hover {
	border-color: #ffa280
}
.kg-rate-nav-tabs.level-1 li.active, .kg-rate-nav-tabs.level-1 li.active a, .kg-rate-nav-tabs.level-1 li.active:hover, .kg-rate-nav-tabs.level-1 li.active:hover a {
	color: #f40;
	border-color: #f40
}
.kg-rate-nav-tabs.level-2 {
	border-color: #F50
}
.kg-rate-nav-tabs.level-2 li {
	background: #EEE;
	line-height: 28px;
	font-size: 12px
}
.kg-rate-nav-tabs.level-2 li a {
	color: #555
}
.kg-rate-nav-tabs.level-2 li.active {
	background: #F50
}
.kg-rate-nav-tabs.level-2 li.active, .kg-rate-nav-tabs.level-2 li.active a {
	font-weight: 700;
	color: #FFF
}
.kg-rate-nav-tabs.theme-3 {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 12px;
	margin-bottom: 10px
}
.kg-rate-nav-tabs.theme-3 li {
	border: 1px solid #e5e5e5;
	border-bottom: none;
	margin: 0 0 0 -1px;
	line-height: 40px;
	background-color: #F7F7F7;
	min-width: 128px;
	font-size: 14px;
	padding: 0 20px;
	-moz-transition: background ease .3s;
	-webkit-transition: background ease .3s;
	-o-transition: background ease .3s;
	transition: background ease .3s
}
.kg-rate-nav-tabs.theme-3 li a {
	padding: 0 20px;
	margin: 0 -20px
}
.kg-rate-nav-tabs.theme-3 li:hover {
	background-color: #EEE
}
.kg-rate-nav-tabs.theme-3 li.active {
	background-color: #FFF;
	border-top-width: 2px;
	margin-bottom: -1px
}
.kg-rate-media-item {
	position: relative;
	min-height: 80px;
	_height: 80px;
	padding-left: 100px;
	margin-bottom: 20px
}
.kg-rate-media-item .media-thumb {
	width: 80px
}
.kg-rate-media-item .media-thumb img {
	width: 80px
}
.kg-rate-media-item:last-child {
	margin-bottom: 0
}
.kg-rate-media-item.size-s {
	min-height: 40px;
	_height: 40px;
	padding-left: 50px;
	margin-bottom: 10px
}
.kg-rate-media-item.size-s .media-thumb {
	width: 40px
}
.kg-rate-media-item.size-s .media-thumb img {
	width: 40px
}
.kg-rate-media-item .media-thumb {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}
.kg-rate-media-item .media-thumb img {
	display: block
}
.kg-rate-pagination-tiny {
	line-height: 30px;
	color: #666;
	text-align: right
}
.kg-rate-pagination-tiny span.kg-rate-alert {
	margin-right: 1em
}
.kg-rate-pagination-tiny span.current, .kg-rate-pagination-tiny span.slash, .kg-rate-pagination-tiny span.total {
	display: inline-block;
	font-size: 15px
}
.kg-rate-pagination-tiny span.current {
	color: #f40
}
.kg-rate-pagination-tiny span.slash {
	color: #999;
	margin: 0 2px
}
.kg-rate-pagination-tiny span.total {
	margin-right: 4px
}
.kg-rate-pagination-tiny button {
	color: #333;
	border: 1px solid #eee;
	background: 0 0;
	padding: 0;
	margin-left: 6px;
	font-size: 18px;
	height: 30px;
	width: 30px;
	text-align: center;
	-moz-transition: all ease 300ms;
	-webkit-transition: all ease 300ms;
	-o-transition: all ease 300ms;
	transition: all ease 300ms;
	cursor: pointer
}
.kg-rate-pagination-tiny button:hover {
	color: #f40;
	border-color: #f40
}
.kg-rate-pagination-tiny button.status-disabled {
	cursor: default;
	border-color: #eee;
	color: #bbb
}
.tb-tbcr-qna {
	margin-top: .75em
}
.tb-tbcr-qna button.list-toggle {
	padding: 2px 4px;
	border: 1px solid #fd9;
	background-color: #fff4dd;
	color: #444;
	cursor: pointer
}
.tb-tbcr-qna button.list-toggle:hover {
	border-color: #fb3;
	background-color: #fff0d3;
	color: #2b2b2b
}
.tb-tbcr-qna button.list-toggle em {
	color: #f30
}
.tb-tbcr-qna button.list-toggle span {
	color: #999
}
.tb-tbcr-qna button.list-toggle span.fold {
	display: none
}
.tb-tbcr-qna .list-con {
	display: none
}
.tb-tbcr-qna.toggled button.list-toggle span.unfold {
	display: none
}
.tb-tbcr-qna.toggled button.list-toggle span.fold {
	display: inline
}
.tb-tbcr-qna.toggled .list-con {
	margin-top: 1em;
	display: block
}
.tb-tbcr-qna-list strong {
	font-weight: 600
}
.tb-tbcr-qna-list .kg-rate-media-item.size-s {
	min-height: 60px;
	_height: 60px
}
.tb-tbcr-qna-list .time {
	color: #ccc;
	margin-top: .25em
}
.tb-tbcr-qna-list .user-name {
	color: #000
}
.tb-tbcr-qna-list .a {
	margin-top: .5em
}
.kg-rate-qna-popover {
	border: 1px solid #eee;
	position: absolute;
	width: 200px;
	background: #fff;
	z-index: 100000000;
	padding: 10px;
	margin-top: -12.5px;
	outline: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}
.kg-rate-qna-popover textarea {
	height: 6em;
	border: none;
	resize: none;
	padding: 0;
	margin: 0 0 2px 0;
	width: 100%
}
.kg-rate-qna-popover button {
	line-height: 26px;
	cursor: pointer;
	min-width: 60px;
	_width: 60px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	background-color: #fcfcfc;
	color: #7b7a7a;
	border: 1px solid #f1f1f1
}
.kg-rate-qna-popover button:hover {
	background-color: #efefef;
	color: #757474;
	border-color: #e5e5e5
}
.kg-rate-qna-popover button:active {
	background-color: #fcfcfc;
	color: #888787;
	border-color: #f2f2f2
}
.kg-rate-qna-popover button.is-disabled {
	border-color: #ececec;
	background: #f4f4f4;
	color: #c7c7c7;
	cursor: not-allowed
}
.kg-rate-qna-popover button.type-primary {
	background-color: red;
	color: #fff;
	border: 1px solid red
}
.kg-rate-qna-popover button.type-primary:hover {
	background-color: #f20000;
	color: #f2f2f2;
	border-color: #f20000
}
.kg-rate-qna-popover button.type-primary:active {
	background-color: #ff1919;
	color: #fff;
	border-color: #ff1919
}
.kg-rate-qna-popover button.type-primary.is-disabled {
	border-color: #ececec;
	background: #f4f4f4;
	color: #c7c7c7;
	cursor: not-allowed
}
.kg-rate-qna-popover .arrow {
	width: 20px;
	height: 10px;
	position: absolute;
	right: 40px;
	bottom: -10px;
	overflow: hidden
}
.kg-rate-qna-popover .arrow .outer, .kg-rate-qna-popover .arrow .inner {
	position: absolute;
	border: 10px solid transparent;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	_border-right-color: pink;
	_border-bottom-color: pink;
	_border-left-color: pink;
	_filter: chroma(color=#ffc0cb)
}
.kg-rate-qna-popover .arrow .outer {
	border-top-color: #eee
}
.kg-rate-qna-popover .arrow .inner {
	top: -1px;
	border-top-color: #fff
}
.kg-rate-qna-popover:hover {
	border-color: #ccc
}
.kg-rate-qna-popover:hover .arrow .outer {
	border-top-color: #ccc
}
.kg-rate-qna-popover .panel-post textarea {
	margin-bottom: .75em
}
.kg-rate-qna-popover .panel-post .actions {
	border-top: 1px solid #eee;
	padding-top: 10px;
	text-align: right
}
.kg-rate-qna-popover .panel-post .actions span.char-hint {
	color: #666
}
.kg-rate-qna-popover .panel-post .actions span.char-hint.exceeded {
	color: #f33
}
.kg-rate-qna-popover .panel-post .actions button {
	margin-left: 10px
}
.kg-rate-qna-popover .panel-message {
	display: none;
	padding: 10px
}
.kg-rate-qna-popover .panel-message p {
	font-size: 1.15em;
	margin-bottom: 1.25em;
	min-height: 3.5em;
	_height: 3.5em
}
.kg-rate-qna-popover .panel-message p strong {
	color: red;
	font-size: 1.1em;
	display: block
}
.kg-rate-qna-popover .panel-message .buttons {
	text-align: center
}
.kg-rate-qna-popover .panel-message .buttons button {
	width: 44%;
	margin: 0 2px
}
.kg-rate-qna-popover .panel-loading {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	text-align: center;
	background-color: rgba(255,255,255,.9);
	_background-color: #fff
}
.kg-rate-qna-popover .panel-loading p {
	margin-top: 20%;
	font-size: 1.25em;
	color: #aaa
}
.kg-rate-qna-popover.view-message .panel-post {
	display: none
}
.kg-rate-qna-popover.view-message .panel-message {
	display: block
}
.kg-rate-ct-review-item {
*zoom:1;
	position: relative;
	list-style: none;
	outline: 0;
	padding: 10px;
	border-bottom: 1px solid #D4D4D4
}
.kg-rate-ct-review-item:before, .kg-rate-ct-review-item:after {
	content: " ";
	display: table
}
.kg-rate-ct-review-item:after {
	clear: both
}
.kg-rate-ct-review-item .from-whom {
	float: left;
	overflow: hidden;
	width: 60px;
	text-align: center;
	line-height: 1.5
}
.kg-rate-ct-review-item .from-whom img {
	display: inline
}
.kg-rate-ct-review-item .from-whom .avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
 	overflow: hidden;
}
.kg-rate-ct-review-item .review-details {
	box-sizing: border-box;
	overflow: hidden;
	margin-left: 0px;
	position: relative;
	zoom: 1
}
.kg-rate-wd-filter-bar {
	position: relative;
	padding: 10px;
	z-index: 1;
	border: #DDD 1px solid;
	background: #FCFCFC;
	color: #404040;
	*zoom:1;
	margin: 0px 5px 0px 5px;
}
.kg-rate-wd-filter-bar:before, .kg-rate-wd-filter-bar:after {
	content: " ";
	display: table
}
.kg-rate-wd-filter-bar:after {
	clear: both
}
.kg-rate-wd-filter-bar .filtering {
	margin-right: 15px;
	float: left;
*zoom:1
}
.kg-rate-wd-filter-bar .filtering:before, .kg-rate-wd-filter-bar .filtering:after {
	content: " ";
	display: table
}
.kg-rate-wd-filter-bar .filtering:after {
	clear: both
}
.kg-rate-wd-filter-bar .filtering li {
	float: left;
	margin: 2px 10px 2px 0;
	text-align: left;
	font-size: 12px
}
.kg-rate-wd-filter-bar .filtering li.is-highlighted, .kg-rate-wd-filter-bar .filtering li.is-current {
	color: #F40
}
.kg-rate-wd-filter-bar .filtering li label {
	cursor: pointer
}
.kg-rate-wd-filter-bar .filtering li span.content-regarded {
	display: inline
}
.kg-rate-wd-filter-bar .filtering li span.content-regardless {
	display: none
}
.kg-rate-wd-filter-bar .filtering.content-regardless span.content-regarded {
	display: none
}
.kg-rate-wd-filter-bar .filtering.content-regardless span.content-regardless {
	display: inline
}
.kg-rate-wd-filter-bar .sorting {
	float: right
}
.kg-rate-wd-filter-bar .sorting ul, .kg-rate-wd-filter-bar .sorting .tb-current {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 22px;
	width: 90px
}
.kg-rate-wd-filter-bar .sorting ul {
	list-style: none;
	display: none;
	position: absolute;
	background: #FFF;
	border: 1px solid #ccc;
	border-top-width: 0;
	overflow: hidden
}
.kg-rate-wd-filter-bar .sorting ul li {
	border-top: 1px solid #ccc;
	margin-top: -1px;
	color: #404040;
	height: 24px;
	line-height: 24px;
	background: #FFF;
	cursor: pointer;
	padding: 0 2px 0 4px
}
.kg-rate-wd-filter-bar .sorting ul li:hover {
	text-decoration: none;
	color: gray
}
.kg-rate-wd-filter-bar .sorting ul li.tb-first {
	border-top: none
}
.kg-rate-wd-filter-bar .sorting .tb-current {
	cursor: default;
	height: 24px;
	padding-left: 10px;
	border: 1px solid #ccc;
	background-color: #F3F3F3;
	position: relative;
	overflow: hidden
}
.kg-rate-wd-filter-bar .sorting .tb-current i {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 24px;
	padding: 0 4px;
	border-left: 1px solid #CCC;
	background-color: #F7F7F7
}
.kg-rate-wd-filter-bar .sorting.tb-hover ul {
	display: block
}
.kg-rate-wd-filter-bar .sorting.tb-hover .tb-current {
	background-color: #FFF
}
.kg-rate-wd-folded .folded-hd, .kg-rate-wd-folded .folded-hd a {
	color: #BBB
}
.kg-rate-wd-folded .folded-hd {
	position: relative;
	padding: 10px 5px;
	background-color: #F0F0F0;
	text-align: center
}
.kg-rate-wd-folded .folded-hd a:hover {
	color: #69C
}
.kg-rate-wd-folded .folded-hd .statement {
	font-weight: 400;
	font-size: 1.1em;
	margin-bottom: 5px
}
.kg-rate-wd-folded .folded-hd .why {
	position: absolute;
	right: 10px;
	top: 5px
}
.kg-rate-wd-folded .folded-hd .hide-folded {
	display: none
}
.kg-rate-wd-folded .folded-bd {
	-moz-transition: height 200ms linear;
	-webkit-transition: height 200ms linear;
	-o-transition: height 200ms linear;
	transition: height 200ms linear;
	height: 0;
	overflow: auto;
	position: relative
}
.kg-rate-wd-folded.expanded .folded-hd .view-folded {
	display: none
}
.kg-rate-wd-folded.expanded .folded-hd .hide-folded {
	display: inline
}
.kg-rate-wd-folded.expanded .folded-bd {
	height: 300px
}
ul.kg-rate-wd-impression li {
	margin: 0 5px 5px 0;
	position: relative;
	white-space: nowrap;
	float: left
}
ul.kg-rate-wd-impression li a {
	-moz-transition: background ease 200ms;
	-webkit-transition: background ease 200ms;
	-o-transition: background ease 200ms;
	transition: background ease 200ms;
	-webkit-box-shadow: 1px 1px 0 0 #d4d4d4;
	-moz-box-shadow: 1px 1px 0 0 #d4d4d4;
	-o-box-shadow: 1px 1px 0 0 #d4d4d4;
	box-shadow: 1px 1px 0 0 #d4d4d4;
	background-color: #f88c19;
	background-image: -moz-linear-gradient(top, #fb9b29, #f47602);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb9b29), to(#f47602));
	background-image: -webkit-linear-gradient(top, #fb9b29, #f47602);
	background-image: -o-linear-gradient(top, #fb9b29, #f47602);
	background-image: -ms-linear-gradient(top, #fb9b29, #f47602);
	background-image: linear-gradient(top, #fb9b29, #f47602);
	background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9b29', endColorstr='#f47602', GradientType=0);
	height: 22px;
	line-height: 22px;
	padding: 0 8px;
	float: left;
	color: #FFF;
	border: 2px solid #f88916;
	outline: 0
}
ul.kg-rate-wd-impression li i {
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: none;
	position: absolute;
	bottom: 0;
	right: 0
}
ul.kg-rate-wd-impression li.tb-r-neg a {
	background-color: #a4a4a4;
	background-image: -moz-linear-gradient(top, #b0b0b0, #919191);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b0b0b0), to(#919191));
	background-image: -webkit-linear-gradient(top, #b0b0b0, #919191);
	background-image: -o-linear-gradient(top, #b0b0b0, #919191);
	background-image: -ms-linear-gradient(top, #b0b0b0, #919191);
	background-image: linear-gradient(top, #b0b0b0, #919191);
	background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0', endColorstr='#919191', GradientType=0);
	border-color: #a1a1a1
}
ul.kg-rate-wd-impression li.tb-current i {
	border-bottom: 10px solid #f88916;
	border-left: 10px solid transparent;
	border-right: 0 solid transparent;
	_border-left-color: pink;
	_border-right-color: pink;
	_filter: chroma(color=#ffc0cb);
	display: block
}
ul.kg-rate-wd-impression li.tb-current.tb-r-neg i {
	border-bottom: 10px solid #a1a1a1;
	border-left: 10px solid transparent;
	border-right: 0 solid transparent;
	_border-left-color: pink;
	_border-right-color: pink;
	_filter: chroma(color=#ffc0cb)
}
ul.kg-rate-wd-impression li a:hover, ul.kg-rate-wd-impression li.tb-current a {
	text-decoration: none;
	background: #FFF;
	filter: none;
	color: #404040
}
.kg-rate-ct-review-item.type-trial .report-brief, .kg-rate-ct-review-item.type-trial .report-full {
	padding: 20px;
	font-size: 14px;
	line-height: 1.5
}
.kg-rate-ct-review-item.type-trial .report-brief {
	cursor: url(//img.alicdn.com/tps/i2/T1HqQGXgtcXXaSQP_X-16-16.png), url(//assets.alicdn.com/img/common/zoom_in.cur), auto
}
.kg-rate-ct-review-item.type-trial .report-brief:hover {
	background: #FFFBF2
}
.kg-rate-ct-review-item.type-trial .report-brief ul.photo-thumbs-trial {
	margin-top: 10px;
*zoom:1
}
.kg-rate-ct-review-item.type-trial .report-brief ul.photo-thumbs-trial:before, .kg-rate-ct-review-item.type-trial .report-brief ul.photo-thumbs-trial:after {
	content: " ";
	display: table
}
.kg-rate-ct-review-item.type-trial .report-brief ul.photo-thumbs-trial:after {
	clear: both
}
.kg-rate-ct-review-item.type-trial .report-brief ul.photo-thumbs-trial li {
	float: left;
	margin-right: 10px;
	width: 180px;
	height: 180px;
	border: 2px solid #CCC;
	padding: 2px;
	overflow: hidden;
	background-color: #FFF
}
.kg-rate-ct-review-item.type-trial .report-brief ul.photo-thumbs-trial li img {
	width: 100%;
	height: 100%;
	display: block
}
.kg-rate-ct-review-item.type-trial .report-full {
	cursor: url(//img.alicdn.com/tps/i1/T1MQMFXgXcXXaSQP_X-16-16.png), url(//assets.alicdn.com/img/common/zoom_out.cur), auto;
	background: #FFFAF2;
	display: none
}
.kg-rate-ct-review-item.type-trial .report-full p {
	margin-top: 15px;
	margin-bottom: 15px
}
.kg-rate-ct-review-item.type-trial .report-full img {
	display: block;
	padding: 3px;
	border: 1px solid #DDD;
	background: #FFF;
	max-width: 600px;
	margin-bottom: 5px;
_width:expression(this.width>600 ? 600:true)
}
.kg-rate-ct-review-item.type-trial .report-full .tb-trial-title {
	color: #F50;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	padding-left: 15px;
	border-left: 5px solid #F50;
	margin: 0 0 20px -20px
}
.kg-rate-ct-review-item.type-trial .tb-tbcr-date {
	padding: 20px 20px 10px 20px
}
.kg-rate-ct-review-item.type-trial.viewing-full .report-brief {
	display: none
}
.kg-rate-ct-review-item.type-trial.viewing-full .report-full {
	display: block
}
.kg-rate-wd-refund {
	color: #666;
*zoom:1
}
.kg-rate-wd-refund:before, .kg-rate-wd-refund:after {
	content: " ";
	display: table
}
.kg-rate-wd-refund:after {
	clear: both
}
.kg-rate-wd-refund .summary, .kg-rate-wd-refund .detail {
	float: left
}
.kg-rate-wd-refund .summary {
	width: 55%;
	position: relative
}
.kg-rate-wd-refund .summary table {
	width: 100%;
	table-layout: fixed
}
.kg-rate-wd-refund .summary table th, .kg-rate-wd-refund .summary table td {
	text-align: left
}
.kg-rate-wd-refund .summary table th {
	font-weight: 700;
	color: #333
}
.kg-rate-wd-refund .summary table td {
	cursor: pointer;
	line-height: 32px
}
.kg-rate-wd-refund .summary table td.better {
	color: #f40
}
.kg-rate-wd-refund .summary table td.worse {
	color: #00ba97
}
.kg-rate-wd-refund .summary .where-indicator {
	height: 20px;
	border: 1px solid #aaa;
	position: absolute;
	top: 24px;
	left: -10px;
	width: 100%;
	box-shadow: -2px 2px 0 #ddd;
	-moz-transition: top 200ms ease;
	-webkit-transition: top 200ms ease;
	-o-transition: top 200ms ease;
	transition: top 200ms ease
}
.kg-rate-wd-refund .summary .where-indicator i {
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 4px;
	right: -6px
}
.kg-rate-wd-refund .summary .where-indicator i.outer {
	border-left: 6px solid #aaa;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	_border-top-color: pink;
	_border-bottom-color: pink;
	_filter: chroma(color=#ffc0cb)
}
.kg-rate-wd-refund .summary .where-indicator i.inner {
	border-left: 6px solid #fff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	_border-top-color: pink;
	_border-bottom-color: pink;
	_filter: chroma(color=#ffc0cb);
	right: -5px
}
.kg-rate-wd-refund .detail {
	width: 45%
}
.kg-rate-wd-refund .detail .wrapper {
	background: #F6F6F6;
	padding: 6px 18px;
	min-height: 148px;
	_height: 148px;
	display: none;
	margin-left: 20px;
	margin-top: 20px;
	color: #919191
}
.kg-rate-wd-refund .detail .wrapper.selected {
	display: block
}
.kg-rate-wd-refund .detail .wrapper ul {
	list-style: inside disc
}
.kg-rate-wd-refund .detail .wrapper ul li {
	margin-bottom: 5px
}
.kg-rate-wd-refund .detail .wrapper .title {
	border-bottom: solid 1px #D7D7D7;
	color: #333;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px
}
.kg-rate-wd-ask-around-note {
*zoom:1;
	line-height: 20px
}
.kg-rate-wd-ask-around-note:before, .kg-rate-wd-ask-around-note:after {
	content: " ";
	display: table
}
.kg-rate-wd-ask-around-note:after {
	clear: both
}
.kg-rate-wd-ask-around-note .btn-ask {
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;
	transition: color .25s linear, background-color .25s linear;
	color: #fff;
	background-color: #e32;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	float: right;
	line-height: 20px;
	padding: 0 4px
}
.kg-rate-wd-ask-around-note .btn-ask:hover, .kg-rate-wd-ask-around-note .btn-ask.status-hover, .kg-rate-wd-ask-around-note .btn-ask:focus, .kg-rate-wd-ask-around-note .btn-ask.status-focus, .kg-rate-wd-ask-around-note .btn-ask:active, .kg-rate-wd-ask-around-note .btn-ask.status-active {
	color: #fff;
	background-color: #f15c4e;
	border-color: #f15c4e
}
.kg-rate-wd-ask-around-note .btn-ask:active, .kg-rate-wd-ask-around-note .btn-ask.status-active {
	background: #d62e1f;
	border-color: #d62e1f
}
.kg-rate-wd-ask-around-list .kg-rate-ct-review-item {
	padding-bottom: 0
}
.kg-rate-wd-ask-around-list .kg-rate-ct-review-item.restore-pd {
	padding-bottom: 10px
}
.kg-rate-wd-ask-around-detail .q-or-a {
	border-bottom: 1px dashed #CCC;
	margin-top: 8px;
	padding-bottom: 8px;
*zoom:1
}
.kg-rate-wd-ask-around-detail .q-or-a:before, .kg-rate-wd-ask-around-detail .q-or-a:after {
	content: " ";
	display: table
}
.kg-rate-wd-ask-around-detail .q-or-a:after {
	clear: both
}
.kg-rate-wd-ask-around-detail .q-or-a .icon-type {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	float: left;
	color: #FFF;
	width: 20px;
	text-align: center;
	padding-top: 1px;
	line-height: 19px;
	font-size: 13px;
	font-family: "Microsoft YaHei", sans-serif
}
.kg-rate-wd-ask-around-detail .q-or-a .detail-wrapper {
	margin-left: 28px
}
.kg-rate-wd-ask-around-detail .q-or-a .detail-wrapper .mark-buyer-seller {
	color: #38F
}
.kg-rate-wd-ask-around-detail .q-or-a.q {
	margin-top: 0
}
.kg-rate-wd-ask-around-detail .q-or-a.q .icon-type {
	background-color: #E01
}
.kg-rate-wd-ask-around-detail .q-or-a.a .icon-type {
	background-color: #0B5
}
.kg-rate-wd-ask-around-detail .q-or-a.not-yet, .kg-rate-wd-ask-around-detail .q-or-a.total, .kg-rate-wd-ask-around-detail .q-or-a.more {
	border-bottom: none
}
.kg-rate-wd-ask-around-detail .q-or-a.not-yet {
	color: #BBB
}
.kg-rate-wd-ask-around-detail .q-or-a.not-yet .icon-type {
	background-color: #CCC
}
.kg-rate-wd-ask-around-detail .q-or-a.total, .kg-rate-wd-ask-around-detail .q-or-a.more {
	color: #999
}
.kg-rate-wd-ask-around-detail .q-or-a.more {
	margin: 0;
	padding-top: 8px;
	cursor: pointer
}
.kg-rate-wd-ask-around-detail .q-or-a.more .state-more {
	color: #36C
}
.kg-rate-wd-ask-around-detail .q-or-a.more .state-err {
	color: #F63
}
.kg-rate-wd-ask-around-detail .q-or-a.more:hover {
	background-color: #F3F3F3
}
.kg-rate-wd-ask-around-detail .q-or-a.more:hover .state-more, .kg-rate-wd-ask-around-detail .q-or-a.more:hover .state-err {
	text-decoration: underline
}
.kg-rate-md-ask-around-dlg-ask label {
	display: block;
	margin-bottom: 10px
}
.kg-rate-md-ask-around-dlg-ask label strong {
	color: #f60
}
.kg-rate-md-ask-around-dlg-ask .textarea-wrapper {
	border: 1px solid #CCC;
	padding: 10px
}
.kg-rate-md-ask-around-dlg-ask .textarea-wrapper textarea {
	border: 0;
	padding: 0;
	outline: 0;
	resize: none;
	width: 100%;
	height: 96px
}
.kg-rate {
	color: #404040;
	clear: both
}
.kg-rate .tb-r-ubox, .kg-rate .tb-r-act-bar {
*zoom:1
}
.kg-rate .tb-r-ubox:before, .kg-rate .tb-r-act-bar:before, .kg-rate .tb-r-ubox:after, .kg-rate .tb-r-act-bar:after {
	content: " ";
	display: table
}
.kg-rate .tb-r-ubox:after, .kg-rate .tb-r-act-bar:after {
	clear: both
}
.kg-rate .tb-rev-actions {
	float: right;
	margin-right: -1px
}
.kg-rate .tb-rev-actions .tb-rev-action {
	float: left;
	padding: 0 9px;
	border-right: 1px solid #DFDFDF
}
.kg-rate .tb-rev-actions .tb-r-action-btn {
	color: #36C;
	cursor: pointer
}
.kg-rate .tb-rev-actions .tb-r-action-btn-disabled {
	color: #AAA
}
.kg-rate .tb-r-spu-ratings li {
	float: left;
	width: 260px;
	margin-bottom: 5px
}
.kg-rate .tb-r-spu-ratings span {
	display: inline-block;
	height: 18px;
	width: 73px;
	border: 1px solid #D4D4D4;
	background: #FFF;
	text-align: center;
	line-height: 18px
}
.kg-rate .tb-r-spu-ratings em {
	color: #F40;
	font-weight: 700
}
.kg-rate .tb-r-box {
	border: 1px solid #DDD;
	padding: 14px 24px;
	margin-bottom: 10px;
	position: relative;
	z-index: 2
}
.kg-rate .tb-r-ubox {
	padding: 10px 0;
	position: relative
}
.kg-rate .tb-r-ubox-bd {
	overflow: hidden;
	zoom: 1
}
.kg-rate .tb-r-ubox h3 {
	width: 90px;
	color: #000;
	text-align: right;
	font-weight: 400;
	margin: 3px 10px 0 0;
	float: left
}
.kg-rate .tb-rev-item-append {
	border-top: 1px dashed #E4E4E4;
	padding-top: 7px;
	margin-top: 10px
}
.kg-rate .tb-r-act-bar {
	margin-top: 10px;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.kg-rate .tb-r-info {
	float: left;
	font-size: 12px;
	color: #B0B0B0
}
.kg-rate .tb-r-date {
	margin-right: 20px
}
.kg-rate-attributes .group {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px
}
.kg-rate-attributes .group .title {
	position: relative;
	display: block;
	width: 80px;
	height: 26px;
	padding-left: 4px;
	padding-right: 10px;
	line-height: 26px;
	color: #000;
	border: 1px solid #ccc;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.kg-rate-attributes .group .title .arrow {
	position: absolute;
	right: 5px;
	top: 10px;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #999
}
.kg-rate-attributes .group .list {
	position: absolute;
	z-index: 2;
	display: none;
	width: 94px;
	max-height: 150px;
	overflow-y: scroll;
	margin-top: 2px;
	border: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 1px 1px #eee
}
.kg-rate-attributes .group .list a {
	display: block;
	padding: 6px 4px;
	color: #000;
	text-decoration: none
}
.kg-rate-attributes .group .list a:hover, .kg-rate-attributes .group .list a.hover {
	color: #fff;
	background-color: #52a0e5
}
.kg-rate-attributes .group.hover .arrow {
	border-top: 0;
	border-bottom: 4px solid #999
}
.kg-rate-attributes .group.hover .list {
	display: block
}
.kg-rate-attributes .group.fold {
	display: none
}
.kg-rate-attributes .group.disabled .title {
	color: #ccc
}
.kg-rate-attributes.expand .fold {
	display: inline-block
}
.kg-rate-attributes.expand .trigger .arrow {
	margin-top: 6px;
	transform: rotateZ(-45deg)
}
.kg-rate-attributes .trigger {
	position: absolute;
	right: 0;
	display: inline-block;
	padding-top: 5px;
	color: #999;
	text-decoration: none
}
.kg-rate-attributes .trigger .arrow {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-top: 3px;
	vertical-align: text-top;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	transform: rotateZ(135deg)
}
.kg-rate-attributes .btns {
	clear: both;
	padding-top: 10px
}
.kg-rate-attributes .btns .submit {
	display: inline-block;
	padding: 5px 15px;
	border: none;
	color: #fff;
	background-color: #f50
}
.kg-rate-attributes .btns .reset {
	display: inline-block;
	margin-left: 20px;
	border: none;
	color: #999;
	background: 0 0
}
.kg-rate ul{
	padding: 0px;
}