<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的订单</title>

<link href="style/order.css" media="screen" rel="stylesheet">
<link href="style/global2.0.css" media="screen" rel="stylesheet">
<link href="style/profile1.6.6.css" media="screen" rel="stylesheet">
<link rel="shortcut icon" href="#/zhe800_favicon.ico">
</head>
<body>
<input type="hidden" id="important_alert" value="0">
<div id="toolbar">
  <div class="toolbar area">
    <div class="right flow"> <a href="#/help_center" class="contractKf" target="_blank">联系客服</a> | <a href="https://zhaoshang.zhe800.com/" target="_blank">卖家中心</a> </div>
    <div class="right" id="login" data-info="#"> <em id="tblogin"><span>您好，</span>
      <div class="dropdown myzhe"><span class="username"><a href="#/profile/my_rank" target="_blank">迷途~菠萝[QQ用户]</a><i class="icon-arrow arrow-down"></i><em></em></span><a class="icon-level level0" href="#/profile/my_rank" target="_blank"></a>&nbsp;
        <ul class="dropdown-menu">
          <li><a href="#" target="_blank">我的收藏</a></li>
          <li><a href="#" target="_blank">账号信息</a></li>
          <li><a href="#" target="_blank">我的订单</a></li>
          <li><a href="#" target="_blank">消费保障</a></li>
          <li><a href="#" target="_blank">我的积分</a></li>
          <li><a href="#" target="_blank">优惠券</a></li>
          <li><a href="#" target="_blank">我的等级</a></li>
          <li><a class="exit" href="#">退出</a></li>
          <li><a href="#" target="_blank">我的抽奖</a></li>
        </ul>
      </div>
      |&nbsp;<a href="http://shop.zhe800.com/my/orders" id="mytrade" target="_blank">我的订单</a>|&nbsp;<a href="#" class="msg" target="_blank">我的消息<i class="msg-num">1</i></a>
      &nbsp;</em>
      <div class="hidden"></div>
    </div>
    <div class="right"> <a target="_blank" href="#/">团800旗下网站</a> |
      <div class="phone-qrcode-down"> <a target="_blank" href="#/app">手机版</a> |&nbsp;
        <div class="dropdown-menu">
          <p>扫一扫有惊喜</p>
          <a target="_blank" href="#/app"></a> </div>
      </div>
    </div>
  </div>
</div>
<header>
  <div class="area">
    <h1 class="l"> <a href="#/"></a> <br>
      折800，精选每日优质淘品 </h1>
    <div class="search">
      <form action="http://search.zhe800.com/search" target="_self">
        <input type="text" name="keyword" class="txt" title="巧克力">
        <input type="submit" class="smt" value="搜索">
      </form>
    </div>
    <div class="links"><a target="_blank" rel="nofollow" href="#/n/daiyanrenzhuanti"><img height="63" width="86" src="images/toolbar_links5_s.jpg"></a></div>
  </div>
</header>
<nav id="head_nav">
  <div class="head_nav area">
    <div class="l"> <a href="#/">首页<i></i></a> <a href="#/brand">品牌团<i></i></a> <a href="#/n/youpinhui">优品汇<i class="shop_hot"></i></a> <a href="#/ju_type/baoyou">8块8包邮<i></i></a> <a href="#/ju_type/fengding">20元封顶<i></i></a> <a href="http://shop.zhe800.com/">特卖商城<i></i></a> <a href="#/jifen">积分商城</a> <span class="n"></span> </div>
    <div class="r_con">
      <div class="yg_wrap"> <a href="#/jingxuanyugao" class="yg">精选预告 </a> </div>
    </div>
  </div>
</nav>

<!--商品详细S-->
<article id="container" class="area clear">
  <aside class="left">
    <dl class="sidePanel_user_rank">
      <dt>欢迎您，王儒标</dt>
      <dd><a class="my_rank" href="#" target="_blank">欢迎页</a></dd>
      <dd class="hr"></dd>
    </dl>
    <h3>账户设置</h3>
    <ul>
      <li class="setting cur"><a href="./user_files/user.html">基本资料</a></li>
      <li class="safe"><a href="#/account/safe">安全中心</a></li>
    </ul>
    <h3>积分中心</h3>
    <ul>
      <li><a href="http://jifen.zhe800.com/profile/score_histories/all.html">我的积分</a></li>
      <li><a href="http://jifen.zhe800.com/profile/welfare.html">我的礼品</a></li>
    </ul>
    <h3>我的订单</h3>
    <ul>
      <li><a href="http://shop.zhe800.com/my/orders">折800订单</a></li>
      <li><a href="http://jifen.zhe800.com/profile/tuantrade.html">团800订单</a></li>
    </ul>
    <h3></h3>
    <ul>
      <li><a href="http://shop.zhe800.com/users/addresses">收货地址</a></li>
      <li><a href="http://shop.zhe800.com/my/comments">我的评价<em class="new"></em></a></li>
    </ul>
  </aside>
<section class="right buyers " data-score_hign="200">
  <div class="myorder_ad myorder_top_ad"><a target="_blank" href="http://shop.zhe800.com/well_comments_act?utm_content=zhe800_dindanye"><img src="http://z2.tuanimg.com/imagev2/trade/810x150.c9f9bf40ded986fb2ec4496345bb8e6c.jpg"></a></div>
  
    <div class="bread">
      <span class="r">
        客服电话：<b>400-0611-800</b>
      </span>
      个人中心&nbsp;&gt;&nbsp;我的订单
    </div>
    <div class="update-tips update_tips_aq">
      <p>
        <i class="gfails3"></i>
        <strong>安全提示！</strong>
        <br>
        近期有不法分子伪造折800客服400电话和银行电话以邀请注册，账号升级变更，订单异常等要求提供信息。请不要相信，谨防诈骗。
        <a href="http://www.zhe800.com/help_center/detail/418" target="_blank">更多&gt;</a>
      </p>
    </div>
    <div class="navhd">
      <div class="l">
        <span class="recycled ">
          <a href="/my/orders?delete_state=1&amp;page=1&amp;per_page=10"><em></em>订单回收站</a><i></i>
        </span>
        <span class="all cur">
          <a href="/my/orders">全部订单</a><i></i>
        </span>
        <span class="line"></span>
        <span>
          <a href="/my/orders?is_sub_tag=1&amp;order_state=1&amp;page=1&amp;per_page=10">
            待付款 <ins class="noPayCount">0</ins></a><i></i>
        </span>
        <span class="line"></span>
        <span>
          <a href="/my/orders?is_sub_tag=1&amp;order_state=2&amp;page=1&amp;per_page=10">
            待发货 <ins class="noMakeCount">0</ins></a><i></i>
        </span>
        <span class="line"></span>
        <span>
          <a href="/my/orders?is_sub_tag=1&amp;order_state=3&amp;page=1&amp;per_page=10">
            待收货 <ins class="noTakeCount">0</ins></a><i></i>
        </span>
        <span class="line"></span>
        <span>
          <a href="/my/orders?is_sub_tag=1&amp;order_state=88&amp;page=1&amp;per_page=10">
            待评价 <ins class="commentCount">0</ins></a><i></i>
        </span>
        <span class="line"></span>
        <span>
          <a href="/my/orders/refunds_complains_list">
            退款/售后</a><i></i>
            <em class="tip refCompCount" style="display: none;">●</em>
        </span>
        <span class="line"></span>
        <span>
          <a href="/my/orders/tb_tmall">淘宝天猫订单</a><i></i>
          <div class="tips hidden"><sup></sup><p>找不到订单？点击淘宝天猫订单试试看~</p><sub></sub></div>
        </span>
      </div>
    </div>
  
  
  <form action="/my/orders">




    <div class="title clear">
      <p class="s1">商品</p>
      <p class="s2">单价(元)</p>
      <p class="s3">数量</p>
      <p class="s7">商品操作</p>
      <p class="s4">实付款(元)</p>
      <p class="s5">
          <select id="order_state" name="order_state"><option value="0">交易状态</option><option value="1">等待买家付款</option><option value="2">买家已付款</option><option value="3">卖家已发货</option><option value="5">交易成功</option><option value="7">交易关闭</option></select>
      </p>
      <p class="s6">操作</p>
    </div>


    <div class="outlink">
    <table class="lists sendable" data-closed="true" data-oid="4121322327579" data-orderid="4121322327579" id="ahrefl14121322327579" data-oref="" data-timesign="new" data-orderbatch="0-4121322327579-1" data-paychannel="tenpay" data-paytime="2016-03-13 22:50:59">
      <tbody><tr class="hd">
        <td colspan="7">
          
          

          <div class="r" style="">
              <a href="javascript:void(0)" class="delete"></a>
          </div>

          <div class="l">

            <strong>2016-03-13 22:30:19</strong>
            <span>订单号：<i class="js_ordno">4121322327579</i></span>


              <span title="范丝府戴维公爵男装特卖店" class="b_shangjia"><a target="_blank" class="js_utm_params" href="http://store1175916.zhe800.com/" utm_content="my_order_seller_name"><i></i> &nbsp;商家：范丝府戴维公爵男装...</a></span>
              <p class="qq">
                    <span class="im_icon" data-seller-jid="1175916#1" data-orderid="4121322327579"><iframe src="http://im.zhe800.com/init.html?&amp;type=buyer&amp;width=80&amp;busUid=1175916%231&amp;orderid=4121322327579&amp;statetxt=%E5%9C%A8%E7%BA%BF%E5%92%A8%E8%AF%A2%3A%E7%A6%BB%E7%BA%BF%E7%95%99%E8%A8%80&amp;refer=http%3A%2F%2Fshop.zhe800.com%2Fmy%2Forders" frameborder="no" scrolling="no" style="border: none; width: 80px; height: 24px;"></iframe></span>
              </p>
          </div>
          

          
        </td>
      </tr>





      <tr data-behavior="show-stat" data-stat-sourcetype="zhe" data-stat-pos-type="myord" data-stat-pos-value="list" data-stat-dealid="3371391" data-zid="ze160218213528140714" data-pid="ze160218213528140714~1-1001:2-1109" class="productItem " data-stat-x="1" data-stat-y="1" data-stat-n="1" data-ssid="SS14581145496875256">

        <td class="b_products">

          <a href="http://out.zhe800.com/jump?deal_id=3371391&amp;url=http%3A%2F%2Fshop.zhe800.com%2Fproducts%2Fze160218213528140714&amp;jump_source=1&amp;qd_key=qyOwt6Jn" target="_blank">
            <img src="http://z2.tuanimg.com/imagev2/trade/800x800.32bf811ff02cfaad72bb620dc7d8d722.100x100.jpg" width="90" height="90">
          </a>

          <h3>
            <a href="http://out.zhe800.com/jump?deal_id=3371391&amp;url=http%3A%2F%2Fshop.zhe800.com%2Fproducts%2Fze160218213528140714&amp;jump_source=1&amp;qd_key=qyOwt6Jn" target="_blank" title="2016新款春秋季外套中年男士带帽夹克男装商务休闲爸爸装薄款修身">
              2016新款春秋季外套中年男士带帽...
            </a>
            <span><a target="_blank" href="/products/zs160311170007654470/snapshot">交易快照</a></span>
          </h3>

          <p><span title="颜色:18465蓝色">颜色:18465蓝色</span>&nbsp;&nbsp;<span title="尺码:180">尺码:180</span></p>

          <p>
            <em class="return" title="本商品支持8天无理由退货"></em><em class="audit0" title="本商品由折800买手砍价"></em>
          </p>
        </td>

        <td class="b_price">
          <del>368.00</del>
          <span>85.00</span>
        </td>

        <td class="b_quantity">1</td>

        <td class="b_shangpcz"><div class="b_operate"><span class="operate1"></span></div>


          <input type="hidden" class="closeright" value="0">
          <input type="hidden" class="closerightdate" value="2016-03-13 23:01:04">
          <div class="b_operate">
            <span class="operate1" style="" data-role="ref">
              
            </span>
          </div>
        </td>

        <td class="b_payment" rowspan="1">
          <div class="status1">
            <b>85.00
              <i class="icon youhui"></i>
            </b>
            <div class="tips arrbottom yh_and_cx">
              <div class="info"><sup></sup>
                <dl>
                  <dt>商品合计：</dt><dd>85.00元</dd>
                  <dt>运费：</dt><dd>0.00元</dd>
                </dl>
              </div>
            </div>
            <br>包邮

            

          </div></td>

          <td class="b_status" rowspan="1">
            <div class="status1">
              <i class="i1">交易关闭<i class="icon guanbi"></i></i>



              <div class="tips arrleft">
                <div class="info">
                  <sup></sup>
                  <h3>系统自动关闭</h3>
                  <p>取消时间：2016-03-13 23:01:04</p>
                  <aside>
                    <h3>关闭原因</h3>
                    <p class="co1">超时未付款,交易自动关闭</p>
                  </aside>
                </div>
              </div>





          </div>

          <div class="status1">
            <a href="/my/orders/4121322327579" target="_blank">订单详情</a>
          </div>
          

                

          

          

          
        </td>


            <td class="bl" rowspan="1">
              <div class="b_operate">


              </div>
            </td>

        

      </tr>



    </tbody></table>
    </div>

    <div class="list_page" style="padding:0;" data-cur="1" data-pages="1" data-per="10"><span class="selected">上页</span> <span>1</span> <span class="selected">下页</span> 共1页，到第<input type="text" class="text" value="1">页<a href="javascript:void(0)">确定</a> </div>

  </form>

  <!-- 热卖单品 -->
  <div class="tuijp clear hotSell">
    <h2>热卖单品</h2>
  </div>
  <!-- 猜你喜欢 -->
  <div class="tuijp tuijp_nb clear guessLike">
    <h2>猜你喜欢</h2>
  </div>

  <div class="myorder_ad myorder_bottom_ad"></div>
</section>
</article>
<div class="about">
  <ul class="area">
    <li class="lw w1"> <span>关于我们</span> <a target="_blank" href="#/contact">关于我们</a> <a target="_blank" href="http://hr.tuan800.com/brand" rel="nofollow">诚聘英才</a> <a target="_blank" href="#/service_terms" rel="nofollow">服务条款</a> </li>
    <li class="lw"> <span>帮助中心</span> <a target="_blank" href="#/help_center/detail/234">联系我们</a> <a target="_blank" href="#/help_center/detail/82">服务协议</a> <a target="_blank" href="#/n/jubao"> 廉正举报</a> </li>
    <li class="lw"> <span>商务合作</span> <a target="_blank" href="https://zhaoshang.zhe800.com/">商家报名</a> <a target="_blank" href="#/friendly_links">友情链接</a> </li>
    <li class="lw w2"> <span>关注我们</span> <a target="_blank" href="http://e.weibo.com/tao800ju" rel="nofollow">新浪微博</a> <a target="_blank" title="下载桌面快捷方式" href="#/download_tao800?fn=%E6%8A%98800.url" rel="nofollow">下载桌面快捷方式</a> <a target="_blank" title="意见反馈" href="#/feedback" rel="nofollow">意见反馈</a> <a href="javascript:void(0)">在线客服</a></li>
    <li class="w3"> <span>下次怎么来?</span>
      <h3>记住域名： <a href="#/"> <em>zhe800.com</em> </a> </h3>
      <h4>百度搜索：
        <input type="text" class="bdtxt" onfocus="this.blur()" value="折800">
        <a class="smt" target="_blank" href="http://www.baidu.com/s?tn=baiduhome_pg&ie=utf-8&bs=%E6%8A%98800&f=8&rsv_bp=1&rsv_spt=1&wd=%E6%8A%98800&inputT=0" rel="nofollow"></a></h4>
      <h5>收藏本站：<a href="javascript:$.addfavorite()" id="clt"><u>加入收藏</u></a></h5>
      <h6>订阅本站： <br>
        <input type="text" id="subscribe_email" placeholder="输入您的邮件" class="txt">
        <input type="button" value="订阅" class="smt dysmt" onclick="$.tao_dingyue()">
      </h6>
    </li>
    <li class="w4"> <span>手机客户端</span> <a target="_blank" class="ios" href="#/app"></a> <a target="_blank" class="android" href="#/app"></a> <a target="_blank" class="wp" href="#/app"></a> <a target="_blank" class="wap" href="#/app"></a>
      <h4> <img width="72" height="73" alt="" src="images/wxcode_min.png">
        <p> 关注折800，秒杀早知道 <br>
          如何关注？ <br>
          1) 查找微信号“<em>zhe800-com</em>” <br>
          2) 用微信扫描左侧二维码 </p>
      </h4>
    </li>
  </ul>
</div>
<div class="friendly_links area" style=""> <span>友情链接：</span>
  <div class="links">
    <ul>
      <li><a href="http://www.yaolan.com/" target="_blank">摇篮网</a></li>
      <li><a href="http://www.cardbaobao.com/" target="_blank">卡宝宝信用卡</a></li>
      <li><a href="http://www.ef43.com.cn/" target="_blank">中国丽人网</a></li>
      <li><a href="http://www.chinairn.com/" target="_blank">研究报告</a></li>
      <li><a href="http://www.paixie.net/" target="_blank">拍鞋网</a></li>
      <li><a href="http://www.qqbaobao.com/" target="_blank">亲宝网</a></li>
      <li><a href="http://www.61baobao.com/" target="_blank">儿歌视频大全</a></li>
      <li><a href="http://www.uzai.com/" target="_blank">悠哉旅游网</a></li>
      <li><a href="http://www.114piaowu.com/" target="_blank">114票务网</a></li>
      <li><a href="http://www.mtv123.com/" target="_blank">叮当音乐</a></li>
    </ul>
  </div>
  <a href="#/friendly_links" target="_blank" class="more">更多&gt;&gt;</a> </div>
<footer> 
  <a target="_blank" href="http://www.miibeian.gov.cn/" rel="nofollow">京ICP证120075号</a>&nbsp;京ICP备10051110号-5 <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502025623" target="_blank" rel="nofollow">京公网安备11010502025623</a> 食品流通许可证SP1101051510352397
  Copyright©2011-2016 版权所有 ZHE800.COM <br>
  <a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=3571298269" target="_blank" rel="nofollow"> <img src="images/web_trust.png" width="70" height="26"></a> 
  <a id="___szfw_logo___" href="https://search.szfw.org/cert/l/CX20150121006886006587" target="_blank" rel="nofollow"><img src="images/cert.png" class="noborder"></a> <a rel="nofollow" target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=e150522110105588321uva000000&ct=df&a=1&pa=0.14795242729201963"><img width="76" height="28" class="noborder" style="border:0" src="images/credit.png"></a> 
</footer>
</body>
</html>